################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ Part1_ProceduralToOOP/Part1_ProceduralToOOP/obj
/ Part1_ProceduralToOOP/Src/obj
/ Part1_ProceduralToOOP/Src/bin/Debug/net10.0
/ Part2_HotelReservationSystem/Src/obj
/ Part2_HotelReservationSystem/Src2/.vs/Src2.slnx
/ Part2_HotelReservationSystem/Src2/Src2/bin/Debug/net10.0
/ Part2_HotelReservationSystem/Src2/Src2/obj
